body {
    background-color: #ffffff;
    color: #3147a9;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 1.5em;
}

#header-links {
    background-color: BurlyWood;
    padding: 10px;
}

h1 {
    color: CornflowerBlue;
    text-align: center;
}
a{
    text-decoration: none;
}
/* home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-menu__btn{
    color:black;
    display: flex;
    border: solid #3147a9;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin:1rem;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    min-width: 200px;
}
.home-menu__btn:hover{
    display: flex;
    border: solid #3147a9;
    color:white;
    background-color: #717ba2;
    transform: scale(1.2);
}

/* player */
.player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.player .player-block:not(:last-child){
    border-right: solid CornflowerBlue ;
}
.player-block{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.player-block__form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.player-btn__play{
    color:black;
    display: flex;
    border: solid #3147a9;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin:1rem;
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.player-btn__play:hover{
    display: flex;
    border: solid #3147a9;
    color:white;
    background-color: #717ba2;
    transform: scale(1.2);
}

/* game */
.game {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.game-block{
    border: 2px solid blue;
    margin:1rem;
}
.game-gameboard {
    display: flex;
    border: 2px solid blue;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.game-gameboard__case{
    border: 1px solid red;
    display: flex;
    width: 75px;
    height: 75px;
    background-color: wheat;
    flex: 1 0 32%;
    align-items: center;
    justify-content: center;
    /*width: auto;*/
}
